<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WXR Space</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A VR/AR content space for editing and viewing" />
	<meta name="keywords" content="virtual reality, augmented reality, mixed reality, content web editor, webized network, webized device" />
	<meta name="author" content="wrl.onl" />

	<!--
	//////////////////////////////////////////////////////

	DEVELOPED by Yongjae Lee at Webizing Research Laboratory.

	website:		http://www.wrl.onl/
	Email:			yongjae.lee@wrl.onl

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="icon" href="https://getbootstrap.com/favicon.ico">

	<!-- Bootstrap core CSS -->
	<link href="/libs/bootstrap/bootstrap.min.css" rel="stylesheet">

	<!-- Font awesome CSS -->
	<link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>


    <!-- Header -->
    <%- include('template/header'); -%>

	<main role="main">

		<!--Recent workspaces-->
		<% if (user) { %>
		<div class="container pt-3 my-5 text-center">
			<h1 class="my-3">Recent Workspaces</h1>
			<p>Quick access</p>
		</div>

		<div class="container pb-5">
			<div class="d-flex flex-row flex-nowrap wxr-overflow-x-scroll">
				<% for (var workspace of recentWorkspace) { %>
                    <div class="card mr-5 bg-light">
                        <a class="wxr-plain-link" href="/view/<%= workspace.id %>">
                        <img class="card-img-top" src="<%= workspace.thumbnail ? workspace.thumbnail : '/images/thumbnail/workspace-thumbnail-placeholder.jpg' %>" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title"><%= workspace.name %></h5>
                            <p class="card-text"><%= workspace.description %></p>
                        </div>
                        </a>
                    </div>
				<% } %>
			</div>
		</div>
		<% } %>
		<!--Recent workspaces end-->


		<!--Search panel-->
		<%- include('template/search_panel'); -%>


		<!--Workspace list-->
		<div class="container mb-5">

			<!-- Page Heading -->
			<div class="container pt-3 my-5 text-center">
				<h1 class="my-3">Workspaces</h1>
				<p>Take a look around what's going on!</p>
			</div>

			<% for (var workspace of workspaceList) { %>
			<div class="row">
				<div class="col-md-7">
					<img class="img-fluid w-100 rounded mb-3 mb-md-0" style="width:700px; height:300px;" src="<%= workspace.thumbnail ? workspace.thumbnail : '/images/thumbnail/workspace-thumbnail-placeholder.jpg' %>" alt="Workspace thumbnail">
				</div>
				<div class="col-md-5">
					<h3><%= workspace.name %></h3>
					<h6><%= workspace.ownerName %></h6>
					<p><%= workspace.description %></p>
					<a class="btn btn-primary wxr-button wxr-bg-blue" href="/view/<%= workspace.id %>">View Project</a>
				</div>
			</div>
			<hr>
			<!-- /.row -->
			<% } %>

			<!-- Pagination -->
			<ul class="pagination justify-content-center">
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
						<span class="sr-only">Previous</span>
					</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">1</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">2</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#">3</a>
				</li>
				<li class="page-item">
					<a class="page-link" href="#" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
						<span class="sr-only">Next</span>
					</a>
				</li>
			</ul>

		</div>
		<!--Workspace end-->

	</main>

	<!-- Footer -->
    <%- include('template/footer'); -%>


	<!-- jQuery -->
	<script src="/libs/jquery/jquery.min.js"></script>
	<!-- autosize -->
	<script src="/libs/jquery/jquery.autosize.js"></script>
	<!-- Waypoints -->
	<script src="/libs/jquery/jquery.waypoints.min.js"></script>
	<!-- jQuery UI -->
	<script src="/libs/jquery/ui/effect.js"></script>
	<!-- Bootstrap -->
	<script src="/libs/bootstrap/bootstrap.min.js"></script>
	<!-- Socket.io -->
	<script src="/libs/socket.io/socket.io.js"></script>


</body>

</html>