<!DOCTYPE HTML>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>WXR Space</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="A VR/AR content space for editing and viewing" />
	<meta name="keywords" content="virtual reality, augmented reality, mixed reality, content web editor, webized network, webized device" />
	<meta name="author" content="wrl.onl" />

	<!--
	//////////////////////////////////////////////////////

	DEVELOPED by Yongjae Lee at Webizing Research Laboratory.

	website:		http://www.wrl.onl/
	Email:			yongjae.lee@wrl.onl

	//////////////////////////////////////////////////////
	 -->

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link rel="icon" href="https://getbootstrap.com/favicon.ico">

	<!-- Bootstrap core CSS -->
	<link href="/libs/bootstrap/bootstrap.min.css" rel="stylesheet">

	<!-- Font awesome CSS -->
	<link href="/libs/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/stylesheets/style.css" rel="stylesheet">
</head>

<body>

	<!-- Header -->
	<%- include('template/header'); -%>

	<main role="main">

		<!-- Page Header -->
		<div class="container">
			<h1 class="pl-4 mt-5 mb-3">Profile</h1>
			<hr class="wxr-sm-divider">
		</div>


		<div class="container">
			<div class="row my-5">
				<div class="col-lg-4 order-lg-1 text-center">
					<img id="profileImage" src="/images/profile/<%= user.p('profileImage') ? user.p('profileImage') : 'profile-placeholder.jpg' %>" class="mx-auto img-fluid d-block" alt="avatar">
					<h4 class="mt-2"><%= user.p('name') %></h4>
					<label class="wxr-custom-file mt-2">
						<input type="file" id="userProfileImageUpload" class="wxr-custom-file-input" accept="image/*" name="profile" >
						<span class="wxr-custom-file-control">Choose file</span>
					</label>
				</div>
				<div class="col order-lg-2">
					<div class="row container">
						<form role="form" id="userProfileUpdateForm" class="w-100" action="/users/me" method="PUT">
							<div class="form-group row">
								<label class="col-lg-4 col-form-label form-control-label">Email</label>
								<input class="col-lg-6 form-control-plaintext" type="email" name="email" value="<%= user.p('email') %>" readonly>

							</div>
							<div class="form-group row">
								<label class="col-lg-4 col-form-label form-control-label">Full Name</label>
								<input class="col-lg-6 form-control wxr-form-control" type="text" name="name" value="<%= user.p('name') %>">
							</div>
							<div class="form-group row">
								<label class="col-lg-4 col-form-label form-control-label">Password</label>
								<input class="col-lg-6 form-control wxr-form-control" type="password" name="password" placeholder="••••••••••">
							</div>
							<div class="form-group row">
								<label class="col-lg-4 col-form-label form-control-label">Confirm password</label>
								<input class="col-lg-6 form-control wxr-form-control" type="password" name="passwordConfirm" placeholder="••••••••••">
							</div>
							<div class="form-group mt-4 row">
								<label class="col-lg-4 col-form-label form-control-label"></label>
								<div class="col-lg-6">
									<button type="reset" class="btn btn-secondary wxr-button">Cancel</button>
									<button type="submit" class="btn btn-primary wxr-button">Save Changes</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>

	</main>

	<!-- Footer -->
	<%- include('template/footer'); -%>


	<!-- jQuery -->
	<script src="/libs/jquery/jquery.min.js"></script>
	<!-- file uploader -->
	<script src="/libs/jquery/vendor/jquery.ui.widget.js"></script>
	<script src="/libs/jquery/jquery.iframe-transport.js"></script>
	<script src="/libs/jquery/jquery.fileupload.js"></script>
	<!-- autosize -->
	<script src="/libs/jquery/jquery.autosize.js"></script>
	<!-- Waypoints -->
	<script src="/libs/jquery/jquery.waypoints.min.js"></script>
	<!-- jQuery UI -->
	<script src="/libs/jquery/ui/effect.js"></script>
	<!-- Bootstrap -->
	<script src="/libs/bootstrap/bootstrap.min.js"></script>
	<!-- Socket.io -->
	<script src="/libs/socket.io/socket.io.js"></script>

	<script>

		$('#userProfileImageUpload').fileupload({
			dataType: 'json',
		  	url: '/users/me',
			method: 'PUT',
		  	done: function(e, data) {
				  if (data.result.status === 'ok') {
					  return window.location.reload();
				  } else {
					  console.log(`error: `, data.result);
				  }
			}
		})

		$('#userProfileUpdateForm').on('submit', event => {
			const $form = $('#userProfileUpdateForm');
			event.preventDefault();

			$.ajax({
				type: 'PUT',
				url: $form.attr('action'),
				data: $form.serialize()
			})
				.done( data => {
					if (data.status === 'ok') {
						return window.location.reload();
					} else {
						console.log(`error: `, data);
					}
				});
		});
	</script>

</body>

</html>